.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

.address .panel-body{
    border:3px solid #2bb6e6;
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}