stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

.descripcion{
    font-size:120%;
    text-align: justify;
}