.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

li.headerList {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-design{
    margin-top:20px;
}

.list-design ul {
    -moz-column-count: 6;
    -moz-column-gap: 100px;
    -webkit-column-count: 6;
    -webkit-column-gap: 100px;
    column-count: 5;
    column-gap: 130px;
    list-style: none;

}

.list-design ul li{
    float:left;
    width:9em;
    font-size: 70%;
    font-weight: normal;

}

.list-design ul li:before, .list-design2 ul li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}

.list-design2{
    margin-top:10px;
}

.list-design2 ul {

    list-style: none;
    margin-left: -10px;

}

.list-design2 ul li{
    float:left;
    width:9em;
    font-size: 70%;
    font-weight: normal;

}

.sitemapBottom{
    margin-top: 30px;
}

