.bottomCategories .catBlock{
    border: 3px solid white;
    height: 80px;
    min-height: 15%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 15vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    text-align: center;
}

.bottomCategories .rojo{
    background:#B8363D;
}

.bottomCategories .gris{
    background:#636363;
}

.bottomCategories .morado{
    background:#b6426f;
}

.bottomCategories .azul{
    background:#1188af;
}

.bottomCategories .verde{
    background:#0e562b;
}

.bottomCategories p,
.bottomCategories p b {
    display: inline-block;
    font-size: 250%;
    vertical-align: middle;
    color: #eee;
    margin-top: -15px;
    margin-left: 2px;
    margin-right: 2px;

}
.bottomCategories p {
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: inline-block;
    font-size:250%;
    color: #eee;
    text-decoration: none;
}

.bottomCategories span{

}