div.lista-categorias::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.lista-categorias::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
div.lista-categorias::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2BB6E6;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div.lista-categorias::-webkit-scrollbar-thumb:window-inactive {
    background: #2BB6E6;
}

hr.hrCategorias{
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #43badb; /* Modern Browsers */
}
.lista-categorias {
  font-size:90%;
    max-height: 600px;
    overflow-y:scroll;
    margin-top:10px;
}


.padre{
   /* background: #2398C3;
    color:white;*/
    font-size: 190%;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 3px #2398C3;
}

.padre:hover{

}

.list-group a{
    font-weight: bold;
}

.list-group a.active{
    font-weight: normal;
}



.list-group a.hijo{
    background: #3fa5c6;
    color:white;

}

.list-group a.hijo:hover{
    background: #48abc9;
    color:white;
}