.favs{
    margin-bottom:50px;
}

.favs .wrapFavoritos{
    margin-bottom: 30px;
}

.favs .headerSlider {
    background: #0099c2;
    background: linear-gradient(to bottom, #fff 50%, #0099c2 76%, #0099c2 76%, #0099c2 100%);
}

.favs .headerSlider p {
    background: #fff;
    font-size: 200%;
    margin-left: 70px;
    padding-left: 10px;
}

.favs .headerSlider span{
    font-style: italic;
}

.favs .headerSlider i{
   font-size:90%;
    color:#666;
    margin-left:2px;

}

.fcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.fitem{
    text-align: center;

    border-left:2px solid #01AEF2;
    /*border: solid 1px royalblue;
    border-left: 0;
    box-shadow: -24px 24px 3px 0px magenta;*/
    width: 27%;
    height:200px;
}


.fitemBoton{
    text-align: center;

    border-left:2px solid #01AEF2;
    width: 19%;
    height:200px;
}

.fitemBoton .estrellas1{
    padding-top:50px;
}

.fitemBoton i{
    color:white;
    font-size:150%;
}

.fitemBoton p{
    color:white;
    font-size:200%;
    font-weight: bold;
    margin:10px 3px;
}

.fitemBotonsub{
    background: #059CC0;
    height:190px;
    margin-left:5px;
    margin-top:5px;
}


.fitemsub{
    margin-left:5px;
}

.fitemsub .textoLibros p{
    margin-right:80px;
}


.fitemsub img{
    margin-left:5px;
    height:190px;
    margin-top:5px;
}

.imgContainer{
/*  float:left;*/
    margin-left:5px;
}

.fitemsub .sp_header {
    color:black;
    text-align:left;
    padding-right: 25px;
}

.fitemsub .sp_header a {
    color:black;
}
.fitemsub p{
    color:black;

}

@media (max-width: 1000px) {
    .fitemsub .textoLibros {
        visibility: hidden;
    }
    .fitemsub img {
        max-width:130px;
    }

}


@media (max-width: 650px) {

    .fitemBoton .estrellas1, .fitemBoton .estrellas2{
        visibility: hidden;
        padding-top:20px;
    }


}

@media (max-width: 500px) {


    .favs .headerSlider p {
        background: #fff;
        font-size: 130%;
        margin-left: 70px;
        padding-left: 10px;
    }
    .fitem, .fitemBoton{

        border-left:none;

    }

    .fitemBoton p{

        font-size:130%;

    }

    .fitemsub img {
        max-width:110px;
        box-shadow: -2px 0px 2px 0px #444;
    }

    .fitemBotonsub{
        box-shadow: -2px 0px 2px 0px #444;
    }

}