.sliderproductos .product-slide{
    width:98%;
}
.sliderproductos .item {
    margin-right:10px;
}
.product-thumb:hover .product-image-hover img{
    /*opacity: 1;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/

}
.product-thumb:hover .product-image img{
    /*opacity: 0;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/
}
.product-thumb .product-image-hover img {
    /*left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0px, 100%, 0px);-o-transform: translate3d(0px, 100%, 0px);-moz-transform: translate3d(0px, 100%, 0px);-webkit-transform: translate3d(0px, 100%, 0px);
    z-index: 0;*/
}
.sliderproductos .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb:hover .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb .caption{
    min-height: 50px;
}
.sliderproductos .owl-wrapper-outer {
    border: none;
    border: 4px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
}
.sliderproductos .owl-theme .owl-controls .owl-buttons div{
    margin: -45px;
}
.sliderproductos .owl-carousel .owl-buttons div i{
    font-size: 12px;
}

.sliderproductos .owl-theme .owl-controls .owl-pagination{
    display: none;
}

.sp_titulo{
    display:block;
    background-color: #2a2f32;
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

}


.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}

@media (max-width: 767px) {
    .sp_header a{
        color:white;
        text-align: center;
        font-weight: bold;
        font-size: 60%;

    }

}

.botonSlider{
    background-color: yellow;
}


html, body {
    overflow-x: hidden;
}

.wrapR{
    position: relative; /* for the child pseudo-elements */
    /* negative offset = section padding */
    margin-bottom: 30px;
    margin-top: 25px;

}

.headerSliderMorado {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 88%);
    background: -webkit-linear-gradient(top, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 100%);
    background: linear-gradient(to bottom, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}


.headerSliderAzul {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 88%);
    background: -webkit-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    background: linear-gradient(to bottom, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderVerde {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 88%);
    background: -webkit-linear-gradient(top, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 100%);
    background: linear-gradient(to bottom, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderDIV p,
.headerSliderDIV p b {
    display: inline-block;
    background: #fff;
    margin-bottom:10px;

}
.headerSliderDIV p {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-left: 40px;
    padding: 0 20px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}
.headerSliderAzul p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #0099c2;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}
.headerSliderAzul span {
    border-bottom: 4px solid #0099c2;
}

.headerSliderVerde p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #0e562b;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}
.headerSliderVerde span {
    border-bottom: 4px solid #0e562b;
}


.headerSliderMorado p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #b6426f;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}
.headerSliderMorado span {
    border-bottom: 4px solid #b6426f;
}


.wrapR p,
.wrapR p b {
    display: inline-block;
    background: #fff;
    margin-bottom:10px;

}
.wrapR p {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-left: 40px;
    padding: 0 20px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.wrapR p.bigHeading {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-left: 40px;
    padding: 15px 20px;
    display: inline-block;
    font-size: 35px;
    color: #000;
    background: #fff;
    text-decoration: none;
}


.left {
    max-width: 33%;
    min-width: 200px;
    position: relative;
    left: 0;
    top: 0;
}
.left img {
    display: block;
    max-width: 100%;

}

.left img.kobo {
    position: absolute;
    top: 0;
    left: 0;


}

.left img.book {
    /*position: relative;
    width: 90%;
    top: 0;
    left: 8px;*/
   /* height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;*/

}

.image{
    height: 240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.contenedorMorado{
    background: #bb3c6b;
    border-radius: 0 1em 1em 0;
}

.contenedorVerde{
    background: #0e562b;
    border-radius: 0 1em 1em 0;
}


.contenedorAzul{
    background: #0099c2;
    border-radius: 0 1em 1em 0;
}


.right {
    width: 100%;
    height: 200px;
    padding: 1em 2em;
    position: relative;
    color:#eee;
    whitespace: nowrap;
}

.right span.titulo {
    font-weight: bold;
    font-size: 130%;
    color:#ddd;
}

.right span.autor {
    font-weight: bold;
    font-size: 130%;
    color:#ddd;
}

.right p.descripcion {
    margin-top: 10px;
    font-size: 17px;
}


.stuff {
    position: absolute;
    bottom: 0; right: 2em;
    transform: translateY(100%);

}
.stuff button {
    display: inline-block;
    background: #333;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    color: #fff;
    border: 0;
    box-shadow:none;

}

.air{
    margin:30px;
    background: red;
    height: 20px;
}

@media (max-width: 770px) {
    .right p.descripcion {
        font-size: 10px;

    }

}

@media (max-width: 550px) {
    .right p.descripcion {
        font-size: 10px;
        visibility: hidden;

    }

    .right span.titulo {
        font-weight: bold;
        font-size: 90%;
        color:#ddd;
    }

    .right span.autor {
        visibility: hidden;

    }
    .stuff {
        position: absolute;
        bottom: 0; right: 2em;
        transform: translateY(100%);
        font-size: 7px;

    }

}

@media (max-width: 400px) {
    .right p.descripcion {
        font-size: 10px;
        visibility: hidden;
    }


    .right span.titulo {
        font-weight: bold;
        font-size: 25px;
        font-size: 70%;
        color:#ddd;
        margin-top:10px;

    }
    .stuff {
        position: absolute;
        bottom: 0; right: 2em;
        transform: translateY(100%);
        font-size: 6px;

    }

    .right span.autor {
        visibility: hidden;
    }

    .headerSliderDIV p {
        margin-top: -25px;
        margin-bottom: -25px;
        margin-left: 40px;
        padding: 0 20px;
        display: inline-block;
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }

    .headerSliderMorado p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #b6426f;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }
    .headerSliderMorado span {
        border-bottom: 4px solid #b6426f;
    }

   .headerSliderAzul p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #0099c2;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }
    .headerSliderAzul span {
        border-bottom: 4px solid #0099c2;
    }
    .headerSliderVerde p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #0e562b;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }
    .headerSliderVerde span {
        border-bottom: 4px solid #0e562b;
    }


}








/*
.headerSlider:hover span {
  border-bottom: 5px solid #0077a2;
}
.headerSlider:hover b {
 color: #0077a2;
}*/