img.book {
    position: relative;
    width:90%;

}

.sliderproductos .product-slide{
    width:98%;
}
.sliderproductos .item {
    margin-right:10px;
}
.product-thumb:hover .product-image-hover img{
    /*opacity: 1;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/

}
.product-thumb:hover .product-image img{
    /*opacity: 0;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/
}
.product-thumb .product-image-hover img {
    /*left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0px, 100%, 0px);-o-transform: translate3d(0px, 100%, 0px);-moz-transform: translate3d(0px, 100%, 0px);-webkit-transform: translate3d(0px, 100%, 0px);
    z-index: 0;*/
}
.sliderproductos .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb:hover .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb .caption{
    min-height: 50px;
}
.sliderproductos .owl-wrapper-outer {
    border: none;
    border: 4px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
}
.sliderproductos .owl-theme .owl-controls .owl-buttons div{
    margin: -45px;
}
.sliderproductos .owl-carousel .owl-buttons div i{
    font-size: 12px;
}

.sliderproductos .owl-theme .owl-controls .owl-pagination{
    display: none;
}

.sp_titulo{
    display:block;
    background-color: #2a2f32;
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

}


.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}

.autor_titulo{
    display:block;
    background-color: #F15E3F;
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    height:25px;

}



p.autor_header{
    color:white;
    text-align: left;
    font-size: 75%;
    padding-top:1px;

}


@media (max-width: 767px) {
    .sp_header a{
        color:white;
        text-align: center;
        font-weight: bold;
        font-size: 60%;

    }

}


/* Esto es para darle una altura fija a los contenedores y quitar el resize*/
.product-thumb .image{
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*------------------*/

.botonSlider{
    background-color: yellow;
}

.buttonMV {
    border-top: 1px solid #F15E3F;
    background: #F15E3F;
    background: -webkit-gradient(linear, left top, left bottom, from(#F15E3F), to(#F15E3F));
    background: -webkit-linear-gradient(top, #F15E3F, #F15E3F);
    background: -moz-linear-gradient(top, #F15E3F, #F15E3F);
    background: -ms-linear-gradient(top, #F15E3F, #F15E3F);
    background: -o-linear-gradient(top, #F15E3F, #F15E3F);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonMV .carro{
    font-size:8px;
}
.buttonMV:hover {
    border-top-color: #2398c3;
    background: #2398c3;
    color: #ccc;
}
.buttonMV:active {
    border-top-color: #2398c3;
    background: #2398c3;
}

.buttonMV .btnPrecio{

}

html, body {
    overflow-x: hidden;
}

.wrap{
    position: relative; /* for the child pseudo-elements */
    /* negative offset = section padding */
    margin-bottom: 30px;
    margin-top: 25px;

}


.headerSliderMV {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #f15e3f 0%, #f15e3f 33%, #f07461 33%, #f07461 66%, #f4887c 66%, #f4887c 88%);
    background: -webkit-linear-gradient(top, #f15e3f 0%, #f15e3f 33%, #f07461 33%, #f07461 66%, #f4887c 66%, #f4887c 100%);
    background: linear-gradient(to bottom, #f15e3f 0%, #f15e3f 33%, #f07461 33%, #f07461 66%, #f4887c 66%, #f4887c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderMV p,
.headerSliderMV p b {
    display: inline-block;
    background: #fff;
    margin-bottom:10px;


}
.headerSliderMV p {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-left: 60px;
    padding: 0 20px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.headerSliderMV p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #f15e3f;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}
.headerSliderMV span {
    border-bottom: 4px solid #f15e3f;


}

@media (max-width: 400px) {
    .headerSliderMV p {
        margin-top: -25px;
        margin-bottom: -25px;
        margin-left: 60px;
        padding: 0 20px;
        display: inline-block;
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }

    .headerSliderMV p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #f15e3f;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }
    .headerSliderMV span {
        border-bottom: 4px solid #f15e3f;


    }



}

