.pagination>.active>span{
    background-color: #005166;
    font-size: 80%;
    font-weight: bold;
}
.pagination>.active>span:hover{
    background-color: #005166;
}

div .text-left a{
    background:#0099c2 ;
    color:#FDFAF9;
    font-size: 80%;
    font-weight: bold;

}


.wrapRecomendaciones{
    margin-bottom: 100px;
}

img.bookR {
    position: relative;
    width:60%;

}


.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}


.sliderproductos .product-slide{
    width:98%;
}
.sliderproductos .item {
    margin-right:10px;
}
.product-thumb:hover .product-image-hover img{
    /*opacity: 1;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/

}
.product-thumb:hover .product-image img{
    /*opacity: 0;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/
}
.product-thumb .product-image-hover img {
    /*left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0px, 100%, 0px);-o-transform: translate3d(0px, 100%, 0px);-moz-transform: translate3d(0px, 100%, 0px);-webkit-transform: translate3d(0px, 100%, 0px);
    z-index: 0;*/
}
.sliderproductos .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb:hover .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb .caption{
    min-height: 50px;
}
.sliderproductos .owl-wrapper-outer {
    border: none;
    border: 4px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
}
.sliderproductos .owl-theme .owl-controls .owl-buttons div{
    margin: -45px;
}
.sliderproductos .owl-carousel .owl-buttons div i{
    font-size: 12px;
}

.sliderproductos .owl-theme .owl-controls .owl-pagination{
    display: none;
}

.sp_titulo{
     display:block;
     background-color: #2a2f32;
     border: 1px solid #ddd;
     padding-top: 1px;
     padding-bottom: 1px;
     padding-left: 10px;


 }


.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}

.autor_titulo{
    display:block;
    background-color: #2398c3;
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    height:25px;

}



p.autor_header{
    color:white;
    text-align: left;
    font-size: 75%;
    padding-top:1px;

}


@media (max-width: 767px) {
    .sp_header a{
        color:white;
        text-align: center;
        font-weight: bold;
        font-size: 60%;

    }

}

/* Esto es para darle una altura fija a los contenedores y quitar el resize*/
.product-thumb .image{
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*------------------*/

.botonSlider{
    background-color: yellow;
}

/*A continuación hay varios códigos repetidos. Cada uno hace lo mismo pero con un color diferente*/
/*Este color es determinado por el usuario al crear el módulo*/

.buttonAzul {
    border-top: 1px solid #0099c2;
    background: #0099c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099c2), to(#0099c2));
    background: -webkit-linear-gradient(top, #0099c2, #0099c2);
    background: -moz-linear-gradient(top, #0099c2, #0099c2);
    background: -ms-linear-gradient(top, #0099c2, #0099c2);
    background: -o-linear-gradient(top, #0099c2, #0099c2);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonAzul .carro{
    font-size:8px;
}
.buttonAzul:hover {
    border-top-color: #2398c3;
    background: #2398c3;
    color: #ccc;
}
.buttonAzul:active {
    border-top-color: #2398c3;
    background: #2398c3;
}

.buttonRojo {
    border-top: 1px solid #B8363D;
    background: #B8363D;
    background: -webkit-gradient(linear, left top, left bottom, from(#B8363D), to(#B8363D));
    background: -webkit-linear-gradient(top, #B8363D, #B8363D);
    background: -moz-linear-gradient(top, #B8363D, #B8363D);
    background: -ms-linear-gradient(top, #B8363D, #B8363D);
    background: -o-linear-gradient(top, #B8363D, #B8363D);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonRojo .carro{
    font-size:8px;
}
.buttonRojo:hover {
    border-top-color: #B8363D;
    background: #B8363D;
    color: #ccc;
}
.buttonRojo:active {
    border-top-color: #B8363D;
    background: #B8363D;
}

.buttonVerde {
    border-top: 1px solid #0e562b;
    background: #0e562b;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e562b), to(#0e562b));
    background: -webkit-linear-gradient(top, #0e562b, #0e562b);
    background: -moz-linear-gradient(top, #0e562b, #0e562b);
    background: -ms-linear-gradient(top, #0e562b, #0e562b);
    background: -o-linear-gradient(top, #0e562b, #0e562b);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonVerde .carro{
    font-size:8px;
}
.buttonVerde:hover {
    border-top-color: #0e562b;
    background: #0e562b;
    color: #ccc;
}
.buttonVerde:active {
    border-top-color: #0e562b;
    background: #0e562b;
}

.buttonMorado {
    border-top: 1px solid #b6426f;
    background: #b6426f;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6426f), to(#b6426f));
    background: -webkit-linear-gradient(top, #b6426f, #b6426f);
    background: -moz-linear-gradient(top, #b6426f, #b6426f);
    background: -ms-linear-gradient(top, #b6426f, #b6426f);
    background: -o-linear-gradient(top, #b6426f, #b6426f);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonMorado .carro{
    font-size:8px;
}
.buttonMorado:hover {
    border-top-color: #b6426f;
    background: #b6426f;
    color: #ccc;
}
.buttonMorado:active {
    border-top-color: #b6426f;
    background: #b6426f;
}





/*A continuación vemos el código para crear el estilo de los headers. El color depende del usuario al crear el módulo*/

html, body {
    overflow-x: hidden;
}


.headerSliderRojo {
    margin-top: 40px;
    margin-bottom: 20px;

    background: #0099c2;
    background: -moz-linear-gradient(top, #B8363D 0%, #B8363D 33%, #b54a4f 33%, #b54a4f 66%, #b7494e 66%, #b7494e 88%);
    background: -webkit-linear-gradient(top, #B8363D 0%, #B8363D 33%, #b54a4f 33%, #b54a4f 66%, #b7494e 66%, #b7494e 100%);
    background: linear-gradient(to bottom, #B8363D 0%, #B8363D 33%, #b54a4f 33%, #b54a4f 66%, #b7494e 66%, #b7494e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderRojo p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #B8363D;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}

.headerSliderRojo span {
    border-bottom: 4px solid #B8363D;


}

.headerSliderVerde {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 88%);
    background: -webkit-linear-gradient(top, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 100%);
    background: linear-gradient(to bottom, #0e562b 0%, #0e562b 33%, #186839 33%, #186839 66%, #267544 66%, #267544 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderVerde p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #0e562b;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}

.headerSliderVerde span {
    border-bottom: 4px solid #0e562b;


}

.headerSliderAzul {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 88%);
    background: -webkit-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    background: linear-gradient(to bottom, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderAzul p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #0099c2;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}

.headerSliderAzul span {
    border-bottom: 4px solid #0099c2;


}

.headerSliderMorado {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 88%);
    background: -webkit-linear-gradient(top, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 100%);
    background: linear-gradient(to bottom, #b6426f 0%, #b6426f 33%, #D56695 33%, #D56695 66%, #F08FBB 66%, #F08FBB 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSliderMorado p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #b6426f;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}

.headerSliderMorado span {
    border-bottom: 4px solid #b6426f;


}

/*Media queries para que el tamaño de headers se ajuste a dispositivos*/


@media (max-width: 400px) {
    .headerSliderAzul p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #0099c2;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }
    .headerSliderAzul span{
        font-size: 25px;
    }


    .headerSliderMorado p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #b6426f;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }

    .headerSliderMorado span{
        font-size: 25px;
    }

    .headerSliderVerde p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #0e562b;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }

    .headerSliderVerde span{
        font-size: 25px;
    }

    .headerSliderRojo p b { /*superletra*/
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        color: #B8363D;
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #fff;
    }

    .headerSliderRojo span{
        font-size: 25px;
    }


}
