.sliderproductos .product-slide{
    width:98%;
}
.sliderproductos .item {
    margin-right:10px;
}
.product-thumb:hover .product-image-hover img{
    /*opacity: 1;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/

}
.product-thumb:hover .product-image img{
    /*opacity: 0;
    transform: translate3d(0px, 0%, 0px);
    z-index: 1;*/
}
.product-thumb .product-image-hover img {
    /*left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0px, 100%, 0px);-o-transform: translate3d(0px, 100%, 0px);-moz-transform: translate3d(0px, 100%, 0px);-webkit-transform: translate3d(0px, 100%, 0px);
    z-index: 0;*/
}
.sliderproductos .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb:hover .button-group{
    visibility: visible;
}
.sliderproductos .product-thumb .caption{
    min-height: 50px;
}
.sliderproductos .owl-wrapper-outer {
    border: none;
    border: 4px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
}
.sliderproductos .owl-theme .owl-controls .owl-buttons div{
    margin: -45px;
}
.sliderproductos .owl-carousel .owl-buttons div i{
    font-size: 12px;
}

.sliderproductos .owl-theme .owl-controls .owl-pagination{
    display: none;
}

.sp_titulo{
    display:block;
    background-color: #2a2f32;
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

}


.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}

@media (max-width: 767px) {
    .sp_header a{
        color:white;
        text-align: center;
        font-weight: bold;
        font-size: 60%;

    }

}

.botonSlider{
    background-color: yellow;
}

.button {
    border-top: 1px solid #2398c3;
    background: #2398c3;
    background: -webkit-gradient(linear, left top, left bottom, from(#2398c3), to(#2398c3));
    background: -webkit-linear-gradient(top, #2398c3, #2398c3);
    background: -moz-linear-gradient(top, #2398c3, #2398c3);
    background: -ms-linear-gradient(top, #2398c3, #2398c3);
    background: -o-linear-gradient(top, #2398c3, #2398c3);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.button .carro{
    font-size:8px;
}
.button:hover {
    border-top-color: #2398c3;
    background: #2398c3;
    color: #ccc;
}
.button:active {
    border-top-color: #2398c3;
    background: #2398c3;
}

.button .btnPrecio{

}

html, body {
    overflow-x: hidden;
}

.wrap{
    position: relative; /* for the child pseudo-elements */
    /* negative offset = section padding */
    margin-bottom: 30px;
    margin-top: 25px;

}


.headerSlider {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 -120px;
    background: #0099c2;
    background: -moz-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 88%);
    background: -webkit-linear-gradient(top, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    background: linear-gradient(to bottom, #0099c2 0%, #0099c2 33%, #00bbd9 33%, #00bbd9 66%, #55cce2 66%, #55cce2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099c2', endColorstr='#55cce2', GradientType=0);
}

.headerSlider p,
.headerSlider p b {
    display: inline-block;
    background: #fff;
    margin-bottom:10px;

}
.headerSlider p {
    margin-top: -25px;
    margin-bottom: -25px;
    margin-left: 160px;
    padding: 0 20px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.headerSlider p b { /*superletra*/
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    color: #0099c2;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fff;
}
.headerSlider span {
    border-bottom: 4px solid #0099c2;


}

/*
.headerSlider:hover span {
  border-bottom: 5px solid #0077a2;
}
.headerSlider:hover b {
 color: #0077a2;
}*/