.mb30{
    margin-bottom: 30px;
}

.mb20{
    margin-bottom: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.mt30{
    margin-top: 30px;
}

.mt20{
    margin-top: 20px;
}

.mt10{
    margin-top: 10px;
}

.tiendas{
    width: 100%;
}

.cvv{
    max-width: 100%;
}

.popover-content{
    width: 250px;
}

p .rojo{
    color:red;
    font-size: 50px;
}