.modal-dialog h4.modal-title{
    font-weight: bold;
    color:#20b222;
}

.modal-dialog h4.error-title{
    font-weight: bold;
    color:#bc1010;
}

.btn-wishlist{
    background: #e58282;
    color:white;
}

.btn-wishlist:hover{
    background: #ba4c4c;
    color:white;
}