#search{
    width:100%;
    max-width: 100%;
    display: flex;
}

#search .form1{
    width:30%;
}

#search .form2{
    width:55%;
}

#search .form3{
    width:10%;
}
#search .nav-left{

    background:limegreen;

}
#search .nav-right{
}

#search .nav-fill{

}

#search .nav-left select{
    height:40px;
     background: #70c4e0;
    color:white;
    border: 1px solid #333;
}

#search .nav-right button{

}

#search .btn-lg{
    padding: 10px 8px;
}

#search .radioSearch{
    margin-left:3px;
}

#search .radioSearch label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 110%;
    margin-top:5px;
}


#search .radioSearch input[type=radio] {
    display: none;
}

#search .radioSearch label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;
}

#search .radioSearch input[type=radio]:checked + label:before {
    content: "\2022";
    color: #a7d7e8;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}



@media (max-width: 770px) {

    #search .form1{
        width:100%;
    }

    #search .form2{
        width:85%;
    }

    #search .form3{
        width:100%;
    }

}