table th{
    background: #2BB6E6;
    color:white;
    font-weight: bold;
}

#display-success
 {
     margin-left: auto;
     margin-right: auto;
     max-width: 1000px;
     border: 2px solid green;
     border-radius: 5px;
     font-size: 120%;
     background-color: rgb(236, 255, 216);
     color: green;
     text-align: left;
 }

#display-success .message-minor {
    margin:0px;
    font-size:90%;
    margin-left:65px;
    margin-bottom: 40px;

}

#display-success p.successMSG {
   padding:15px;
    margin-top:5px;
    font-size:120%;
}



#display-success i{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    margin-right:20px;
    margin-top:5px;
}

#display-success i.fa-times{
    color:red;
}

.buttons{
    margin-top:30px;
    margin-right:70px;
}