.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}



.panel-info>.panel-heading {
    background-color: #04AACE;
}

.panel-info .panel-title{
    color:white;
    font-weight: bold;
}

 .panel-danger .panel-title{
    font-weight: bold;
}

.panel-danger .panel-body a{
    color:#AF514F;
}

.panel-danger .panel-body a:hover{
    color:#9b3533;
    font-weight: bold;
}

.table>tbody>tr>td{
    border: 1px solid #eee;
}

.panel-body{
 font-size: 120%;
}

