#content{
    min-height: 360px;
}

#loginSection .well{
    margin-top:20px;
  border:4px solid #c5c3c3;
}

#loginSection hr{
    margin-left : -20px;
    margin-right : -20px;
    height: 10px;
    border: 0;
    box-shadow: 0 5px 5px -5px #8c8b8b inset;
}

#loginSection h2.loginHeader{
    color: #2BB6E6;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
}

#loginSection .btnLogin{
    text-align: center;
    font-weight: bold;
}

#loginSection .btnLogin .btn{
    font-weight: bold;
    font-size: 110%;
}



#loginSection .btnRegister{
    text-align: center;
}

#loginSection .btnRegister .btn{
    font-weight: bold;
    font-size: 110%;
}