
#loginSection .well{
    margin-top:20px;
    border:4px solid #c5c3c3;
}


#loginSection h2.loginHeader{
    color: #2BB6E6;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
}

#loginSection .btnLogin{
    text-align: center;
    font-weight: bold;
}

#loginSection .btnLogin .btn{
    font-weight: bold;
    font-size: 110%;
}