#registerPage h1{
    color: #2BB6E6;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
}

#registerPage legend{
    color: #2BB6E6;
    font-weight: bold;
}

