#tablaCarrito thead{
    border:none;
    font-weight: bold;
    font-size:110%;
}

#tablaCarrito table{
    max-width:100%;
    height:100%;
}

#tablaCarrito .rowCarrito{
   border-top:3px solid #dce9ed;
    border-bottom:3px solid #dce9ed;
}

#tablaCarrito .rowCarrito{
    background: #eff5f7;
}

#tablaCarrito .productTitulo{
    font-size:150%;
    line-height: 80px;
    /* force content to always be a single line */
    white-space: nowrap;

}

#tablaCarrito .productThumb{
    line-height: 80px;
    white-space: nowrap;
}

#tablaCarrito .productThumb img{

}

#tablaCarrito .productTotal{
    font-size:150%;
    line-height: 80px;
    white-space: nowrap;
}

#tablaCarrito .productDelete{

    line-height: 80px;

    white-space: nowrap;
}


.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

.rowTotales .table-bordered>tbody>tr>td, .table-bordered{
    border:none;
}

.rowTotales{
    font-size:140%;
    font-weight: bold;
}



hr.hrStyle {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.hrStyle:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


.warningMinimumPurchase{
    font-size: 150%;
    font-weight: bold;
    padding:20px;

}

.warningMinimumPurchase i{
   margin-right: 10px;

}