#content h1.headerCaja{
    color: #2BB6E6;
    font-weight: bold;
    margin-bottom: 40px;
}

.panel-default>.panel-heading{
    background-color: #2BB6E6;
    color: #eee;

}

.panel-title{
    font-weight: bold;
}

.panel-body .btn{
    font-weight: bold;
}


