#tablaCarrito .rowCarrito{
    border-top:3px solid #dce9ed;
    border-bottom:3px solid #dce9ed;
    background: #eff5f7;
}


#tablaCarrito .table-bordered{
    border:none;
    font-weight: bold;
}


#tablaCarrito .table-bordered>thead>tr>td{
    border:none;
}