#invitado{
    font-size:130%;
}

#invitado .radio{
   display: none;
}

#invitado .buttonRegistro{
    margin-top: 20px;
}

#cliente h2{
    color: #2BB6E6;
    font-weight: bold;
}

#button-login, #button-account{
    font-weight: bold;
}

#invitado h2 {
    color: #2BB6E6;
    font-weight: bold;
}

.buttonRegistro{
    margin-top:42px;
}