.panel-body p{
    font-size: 120%;
}

.radioPayment {

}

.radioPayment .radioLabel{
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    cursor: pointer;
}

.radioPayment label{
    font-weight: bold;
    color:#2BB6E6;
    font-size: 140%;
    margin:5px 10px;
    padding: 20px 0;
    width:90%;
    cursor: pointer;

}

.radioPayment input {
   visibility:hidden;
}

.radioPayment input:checked + .radioLabel  {
    background: #F3F5F6;
}





