<div class="bottomCategories">
    <a href="<?php echo $href1; ?>">
        <div class="col-md-3 catBlock <?php echo $color1; ?>">
            <?php echo $alias1; ?>
        </div>
    </a>
    <a href="<?php echo $href2; ?>">
        <div class="col-md-3 catBlock <?php echo $color2; ?>">
            <?php echo $alias2; ?>
        </div>
    </a>
    <a href="<?php echo $href3; ?>">
        <div class="col-md-3 catBlock <?php echo $color3; ?>">
            <?php echo $alias3; ?>
        </div>
    </a>
    <a href="<?php echo $href4; ?>">
        <div class="col-md-3 catBlock <?php echo $color4; ?>">
            <?php echo $alias4; ?>
        </div>
    </a>
</div>