<a href="<?php echo $allCategories; ?>" class="padre"><?php echo $heading_title; ?></a>
<hr class="hrCategorias">
<div class="lista-categorias">
    <div class="list-group">
        <?php foreach ($categories as $category) { ?>
        <?php if ($category['category_id'] == $category_id) { ?>
        <!-- <a href="<?php echo $category['href']; ?>" class="padre list-group-item active"><?php echo $category['name']; ?></a>-->
        <?php if ($category['children']) { ?>
        <?php foreach ($category['children'] as $child) { ?>
        <?php if ($child['category_id'] == $child_id) { ?>
        <a href="<?php echo $child['href']; ?>" class="hijo list-group-item active"> <?php echo $child['name']; ?></a>
        <?php } else { ?>
        <a href="<?php echo $child['href']; ?>" class="list-group-item"> <?php echo $child['name']; ?></a>
        <?php } ?>
        <?php } ?>
        <?php } ?>
        <?php } else { ?>
        <a href="<?php echo $category['href']; ?>" class="list-group-item"><?php echo $category['name']; ?></a>
        <?php } ?>
        <?php } ?>
    </div>

</div>
