<script src="catalog/view/javascript/jquery/jquery.fittext.js"></script>
<!--<script>
    jQuery("#responsive_headline").fitText();
</script>-->

<?php //echo $heading_title;
        $bandera=strpos($heading_title, 'e');
       // echo $bandera;
        $titulo=explode('e',$heading_title);
        ?>
<div class="wrap">
    <div class="headerSlider<?php echo $color; ?>">
        <div class="headerSliderDIV">
        <?php if($bandera)
           {
               echo "<p>";
        for($parte=0;$parte<sizeof($titulo);$parte++)
        {
        echo "<span>".$titulo[$parte]."</span>";
        if(($parte+1)!==sizeof($titulo))
        {
        echo "<b>e</b>";
        }

        }
        echo "</p>";
        }

        else
        {
        echo "<p class='bigHeading'>";
            echo "<span>".$heading_title."</span>";
            echo "</p>";
        }

        ?>
       <!--<p> <b>e</b><span>l libro de la semana</span></p>-->
        </div>
    </div>
</div>


<div class="row">
    <?php foreach ($products as $product) {
    ?>

<!-- <div><img src="<?php echo $product['thumb']; ?>"></div>-->
    <div class="flex">
        <div class="left">
            <div class="image">
                <img class="book cropped" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" />
            </div>

          <!--  <?php if($product['imgHeight'] > 270) { ?>
              <img class="book" height="270px" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" />
            <?php } else { ?>
              <img class="book" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" />

            <?php }  ?>-->

            <a href="<?php echo $product['href']; ?>"> <img class="kobo" src="catalog/view/theme/temaOrbile01/image/Kobo_PNG.png" /></a>
        </div>
        <div class="contenedor<?php echo $color; ?>">
            <div class="right">
                <span id="responsive_headline" class="titulo"><?php echo $product['name']; ?></span>
                <span id="responsive_headline" class="autor"><?php echo $product['autor'] ?></span>
                <!--<p id="responsive_headline"><?php echo $product['descripcion'][0]; ?></p>-->
                <p class="descripcion" id="responsive_headline"><?php echo $product['descripcion'][1]; ?></p>
                <div class="stuff">
                    <button disabled><b><?php echo $product['price']; ?></b></button>
                    <button onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i
                                class="fa fa-heart" style="color:#eee;"></i></button>
                    <button type="button"
                            onclick="cart.add('<?php echo $product['product_id']; ?>');"><i
                                class="fa fa-shopping-cart" style="color:#eee;"></i>
                </div>
            </div>
        </div>
    </div>


    <?php } ?>
</div>
