
/*Para related products*/

img.bookP {
    position: relative;
    width:60%;

}

/* Esto es para darle una altura fija a los contenedores y quitar el resize de los related products*/
.product-thumb .image{
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*------------------*/


.buttonProduct {
    border-top: 1px solid #0099c2;
    background: #0099c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099c2), to(#0099c2));
    background: -webkit-linear-gradient(top, #0099c2, #0099c2);
    background: -moz-linear-gradient(top, #0099c2, #0099c2);
    background: -ms-linear-gradient(top, #0099c2, #0099c2);
    background: -o-linear-gradient(top, #0099c2, #0099c2);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonProduct .carro{
    font-size:8px;
}
.buttonProduct:hover {
    border-top-color: #2398c3;
    background: #2398c3;
    color: #ccc;
}
.buttonProduct:active {
    border-top-color: #2398c3;
    background: #2398c3;
}

.sp_titulo{
    display:block;
    background-color: #2a2f32;
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

}


.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}

.autor_titulo{
    display:block;
    background-color: #2398c3;
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    height:25px;

}



p.autor_header{
    color:white;
    text-align: left;
    font-size: 75%;
    padding-top:1px;

}

.relatedDiv{
    margin-top: 50px;
}

.relatedHeader, .descriptionHeader{
    background: white;
    margin-top:30px;
    margin-bottom:30px;

}

.descriptionDiv p{
    font-size: 130%;
    line-height: 1.4em;
}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}
/*
.wrap{
    width:100%;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
}

.r1,.r2,.r3{
    display: table-cell;
}

.r1{
    background: repeating-linear-gradient(
            45deg,
            #1b8696,
            #1b8696 20px,
            #0099C2 20px,
            #0099C2 100px
    );
    float:left;
    height:70px;
    width: 40%;

}

.r2{
    background-color: #0099C2;
    color:#FFFFFF;
    text-align:center;
    float:left;
    height:70px;
    width: 20%;
}

.r3{
    background-color: red;
    float:left;
    height:70px;
    width: 40%;
}*/

/*----------------------*/



.left {
    max-width: 33%;
    min-width: 200px;
    position: relative;
    left: 0;
    top: 0;
}
.left img {
    display: block;
    max-width: 100%;

}

.left img.kobo {
    position: absolute;
    top: 0;
    left: 0;


}

.left img.book {
    position: relative;
    width: 90%;
    top: 0;
    left: 8px;

}

.infoAdicional{
    margin-top:30px;
    padding-top: 0.3px;
    padding-left: 15px;
    padding-right: auto;
    padding-bottom: 1px;
    background: #f5f5f5;
    height: 280px;
    color:#04AACE;
    border-radius: 1em 1em 1em 1em;
}


.flex {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.flex a{
    text-decoration: underline;
    color: #acdee9;
}
.right {
    width: 100%;
    height: 200px;
    background: #bb3c6b;;
    border-radius: 0 1em 1em 0;
    padding: 1em 2em;
    position: relative;
    color:#eee;
    whitespace: nowrap;
}


.right span.titulo {
    font-weight: bold;
    font-size: 130%;
    color:#ddd;
}


.right span.autor {
    font-weight: bold;
    font-size: 130%;
    color:#ddd;

}

.right p.descripcion {
    margin-top: 10px;
    font-size: 17px;
}


.stuff {
    position: absolute;
    bottom: 0; right: 2em;
    transform: translateY(100%);

}
.stuff button {
    display: inline-block;
    background: #333;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    color: #fff;
    border: 0;
    box-shadow:none;

}

.air{
    margin:30px;
    background: red;
    height: 20px;
}

.mainProduct{
   margin-top: 100px;
}

@media (max-width: 990px) {
    .right p.descripcion {
        font-size:12px;

    }

}


@media (max-width: 770px) {
    .infoAdicional{
        margin-top:60px;

    }

    .right p.descripcion {
        font-size: 10px;

    }

    .right span.titulo {

        font-weight: bold;
        font-size: 110%;
        color:#ddd;
    }

    .right span.autor {
        font-size: 110%;


    }

    .descriptionDiv p{
        padding: 2em 2em;
    }

}

@media (max-width: 575px) {

    .right .datos{
        text-align: center;
        margin: 40px 0;
        left: 50%;
        top: 50%;

    }
    .right p.descripcion {
        font-size: 10px;
        visibility: hidden;

    }

    .right span.titulo {
        font-weight: bold;
        font-size: 130%;
        color:#ddd;


    }

    .right span.autor {
        font-size: 130%;


    }
    .stuff {
        position: absolute;
        bottom: 0; right: 2em;
        transform: translateY(100%);
        font-size: 6px;

    }

}

@media (max-width: 400px) {
    .right p.descripcion {
        font-size: 10px;
        visibility: hidden;


    }


    .right span.titulo {
        font-weight: bold;

        color:#ddd;

    }
    .stuff {
        position: absolute;
        bottom: 0; right: 2em;
        transform: translateY(100%);
        font-size: 5px;

    }

    .right span.autor {

    }



}
