

* {
    margin: 0;
    padding: 0;
}

.stripedHeader{
    background: white;
    margin-top:30px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

/*Dimensiones para que funcione el acordion con 5 imágenes
Width de imagen = 640px
total de imagenes = 5
así que width de hovered image = 640px
width de un-hovered image = 40px - podemos cambiarlo
así que total container width = 640 + 40*4 = 800px;
BIG CONTAINER WIDTH: 1000px con imagenes de 800px de ancho y 50px recortadas
default width = 800/5 = 160px;
BIG WIDTH=200px
*/


.accordian_6, .accordian_5, .accordian_4, .accordian_3  {
    width: 1000px; height: 320px;
    overflow: hidden;

    margin: 80px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*Un pequeño ajuste para acomodar todo correctamente*/
.accordian_6 ul, .accordian_5 ul, .accordian_4 ul, .accordian_3 ul  {
    width: 2000px;
    /*Esto es para dar bastante espacio a la última imagen, de lo contrario
    se mueve raro.*/
}

.accordian_5 li {
    position: relative;
    display: block;
    width: 200px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    /*Transiciones para la animación*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Los elementos que no tengan hover*/
.accordian_5 ul:hover li {width: 50px;}
/*Efectos del hobver*/
/*Los efectos del hover de LI deben hacer override al hover del UL*/
.accordian_5 ul li:hover {width: 800px;}


.accordian_6 li img, .accordian_5 li img,.accordian_4 li img, .accordian_3 li img {
    display: block;
}

/*Estilo de Imagen y títulos*/
.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
.image_title a{
    display:block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size:16px;
}




/*Dimensiones para que funcione el acordion con 4 imágenes
total de imagenes = 4
El width de .accardian li es 1000/4 = 250px
*/



.accordian_4 li {
    position: relative;
    display: block;
    width: 250px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);


    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.accordian_4 ul:hover li {width: 70px;}

.accordian_4 ul li:hover {width: 800px;}


/*Dimensiones para que funcione el acordion con 3 imágenes*/


.accordian_3 li {
    position: relative;
    display: block;
    width: 333px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}


.accordian_3 ul:hover li {width: 100px;}

.accordian_3 ul li:hover {width: 800px;}

/*Dimensiones para que funcione el acordion con 6 imágenes*/


.accordian_6 li {
    position: relative;
    display: block;
    width: 166px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}


.accordian_6 ul:hover li {width: 50px;}

.accordian_6 ul li:hover {width: 800px;}


@media (max-width:1000px){
    .accordian_6, .accordian_5, .accordian_4, .accordian_3 {
        width: 750px;
    }


    .accordian_5 li,.accordian_4 li, {
        width: 160px;
    }

    .accordian_3 li {
        width: 230px;
    }

    .accordian_6 li {
        width: 125px;
    }

    .accordian_6 ul:hover li {width: 20px;}
    .accordian_5 ul:hover li {width: 40px;}
    .accordian_4 ul:hover li {width: 30px;}
    .accordian_3 ul:hover li {width: 30px;}

    .accordian_6 ul li:hover {width: 740px;}
    .accordian_5 ul li:hover {width: 640px;}
    .accordian_4 ul li:hover {width: 740px;}
    .accordian_3 ul li:hover {width: 840px;}


}


@media (max-width:700px){

    .accordian_6, .accordian_5, .accordian_4, .accordian_3 {
        width: 100%; height: auto;
        overflow: visible;
        margin: 0 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }


    .accordian_6 ul, .accordian_5 ul,.accordian_4 ul, .accordian_3 ul {
        width: 100%;
    }



    .accordian_6 li, .accordian_5 li, .accordian_4 li, .accordian_3 li {
        position: relative;
        margin: 20px 0;

        display: block;
        width: 100%;
        float: none;

        border-left: 0;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        transition: none;
        -webkit-transition: none;
        -moz-transition: none;

    }

    .accordian_6 ul:hover li, .accordian_5 ul:hover li, .accordian_4 ul:hover li, .accordian_3 ul:hover li {width: 100%;}

    .accordian_6 ul li:hover, .accordian_5 ul li:hover, .accordian_4 ul li:hover, .accordian_3 ul li:hover {width: 100%;}



    .accordian_6 li img, .accordian_5 li img, .accordian_4 li img, .accordian_3 li img {
        display: block;
        width:100%;
    }


    /*Image title styles*/
    .image_title {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0; bottom: 0;
        width: auto;

    }
    .image_title a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 20px;
        font-size: 16px;
    }


}

@media (max-width:500px){

    .accordian_6, .accordian_5, .accordian_4, .accordian_3 {
        width: 100%; height: auto;
        overflow: visible;
        margin: 0 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .accordian_6 ul, .accordian_5 ul, .accordian_4 ul, .accordian_3 ul {
        width: 100%;
    }



    .accordian_6 li, .accordian_5 li, .accordian_4 li, .accordian_3 li  {
        position: relative;
        margin: 20px 0;

        display: block;
        width: 100%;
        float: none;

        border-left: 0;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        transition: none;
        -webkit-transition: none;
        -moz-transition: none;

    }

    .accordian_6 ul:hover li, .accordian_5 ul:hover li, .accordian_4 ul:hover li, .accordian_3 ul:hover li {width: 100%;}
    .accordian_6 ul li:hover, .accordian_5 ul li:hover, .accordian_4 ul li:hover, .accordian_3 ul li:hover {width: 100%;}


    .accordian_6 li img, .accordian_5 li img, .accordian_4 li img, .accordian_3 li img {
        display: block;
        width:100%;
    }



    /*Image title styles*/
    .image_title {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0; bottom: 0;
        width: auto;

    }
    .image_title a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 20px;
        font-size: 16px;
    }


}