.pagination>.active>span{
    background-color: #005166;
    font-size: 80%;
    font-weight: bold;
}
.pagination>.active>span:hover{
    background-color: #005166;
}

div .text-left a{
    background:#0099c2 ;
    color:#FDFAF9;
    font-size: 80%;
    font-weight: bold;

}

.stripedHeader{
    background: white;
    margin-top:15px;
    margin-bottom:30px;

}

.stripes{
    padding:10px 0;
    text-align:center;
    color: white;
    background: repeating-linear-gradient(
            45deg,
            #0099C2,
            #0099C2 30px,
            #1b8696 30px,
            #1b8696 50px
    );
}

/* Esto es para darle una altura fija a los contenedores y quitar el resize*/
.product-thumb .image{
    height: 220px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*------------------*/


.buttonAzul {
    border-top: 1px solid #0099c2;
    background: #0099c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099c2), to(#0099c2));
    background: -webkit-linear-gradient(top, #0099c2, #0099c2);
    background: -moz-linear-gradient(top, #0099c2, #0099c2);
    background: -ms-linear-gradient(top, #0099c2, #0099c2);
    background: -o-linear-gradient(top, #0099c2, #0099c2);
    padding: 2.5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.buttonAzul .carro{
    font-size:8px;
}
.buttonAzul:hover {
    border-top-color: #2398c3;
    background: #2398c3;
    color: #ccc;
}
.buttonAzul:active {
    border-top-color: #2398c3;
    background: #2398c3;
}

.sp_titulo{
    display:block;
    background-color: #2a2f32;
    border: 1px solid #ddd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

}



.sp_header a{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 80%;

}


.autor_titulo{
    display:block;
    background-color: #2398c3;
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    height:25px;

}



p.autor_header{
    color:white;
    text-align: left;
    font-size: 75%;
    padding-top:1px;

}


img.book {
    position: relative;
    width:90%;

}
