<?php echo $header; ?>
<div class="container">
    <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
    </ul>
    <!--Popup al agregar producto al carrito-->
    <?php echo $popup_code ?>
    <!--Termina Popup al agregar producto al carrito-->
    <div class="row">
        <div id="content"><?php echo $content_top; ?>
            <div class="stripedHeader">
                <h2 class="stripes"><?php echo $heading_title; ?></h2>
            </div>

            <?php if ($products) { ?>
            <div class="row">
                <?php foreach ($products as $product) { ?>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product-thumb">
                        <div class="sp_titulo">
                            <h4 class="sp_header">
                                <a href="<?php echo $product['href']; ?>"><?php echo $product['nombreReducido']; ?></a>
                            </h4>
                        </div>
                        <div class="autor_titulo">

                            <p class="autor_header" href="<?php echo $product['href']; ?>"><?php echo $product['author']; ?></p>

                        </div>

                        <div class="image" >
                            <a href="<?php echo $product['href']; ?>">
                                <img class="img-responsive cropped" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" />
                            </a>
                        </div>

                        <div>

                            <div class="button-group">
                                <button class="buttonAzul btnPrecio disabled">
                                    <span style="color:#eee;" class="btnPrecio"><?php echo $product['precioReal']; ?></span>
                                </button>
                                <button class="buttonAzul" type="button" data-toggle="tooltip"
                                        title="<?php echo $button_wishlist; ?>"
                                        onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i
                                            class="fa fa-heart" style="color:#eee;"></i></button>
                                <button class="buttonAzul" type="button"
                                        onclick="cart.add('<?php echo $product['product_id']; ?>');"><i
                                            class="fa fa-shopping-cart" style="color:#eee;"></i>
                                    <!--  <span class="hidden-xs hidden-sm hidden-md carro" style="color:#eee;"><?php echo $button_cart; ?></span>-->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <?php } ?>
            </div>
            <div class="row">
                <div class="col-sm-7 text-left"><?php echo $pagination; ?></div>
                <div class="col-sm-5 text-right"><?php echo $results; ?></div>
            </div>
            <?php } ?>
            <?php if (!$products) { ?>
            <p><?php echo $text_empty; ?></p>
            <div class="buttons">
                <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
            </div>
            <?php } ?>
            <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
